li {
  display: inline-block;
  width: 350px;
}
.grid {
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 20px;
}
.mat-paginator {
  background: none;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}
.no-results {
  margin: 40px auto;
  text-align: center;
}
.truncated {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cropped-img {
  height: 200px;
  object-fit: cover;
}
mat-card {
  // border-radius: 8px;
}
.img-wrapper {
  position: relative;
}
.button-overlay {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.clickable-img {
  opacity: 1;
  // transition: 0.5s ease;
  // backface-visibility: hidden;
  cursor: pointer;
}
.img-wrapper:hover img {
  opacity: 0.3;
}
.img-wrapper:hover .button-overlay {
  opacity: 1;
}
.animate {
  transform: translate(1, 1);
  transition: transform 0.5s ease;
}
.search-result:hover .animate {
  transform: translate(0.5em, -0.5em);
}
.beige {
  background: #f7efe3;
}
.black {
  background: #010b13;
  color: white;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 10px;
}
.black:hover {
  background: #ff0266;
  color: white;
}
.search-result-title {
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 52px;
  font-size: 16px;
}
