.quick-search-form {
  width: 100%;
}
.advanced-search-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 70vh;
}
.form-section {
  padding: 10px;
}
.wrapper {
  width: 80%;
  margin: auto;
}

.advanced-search-button {
  width: 100%;
}
.search-icon {
  padding-right: 4px;
}

.mat-expansion-panel-header-description,
.mat-expansion-panel-header-title {
  justify-content: center;
}
mat-expansion-panel {
  background: none;
  border: lightgrey 1px solid;
}
.radio-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 15px 0;
}

.radio-button {
  margin: 5px;
  width: 30%;
}
